{% extends "templates/base.html" %}
{% block maincontent %}
<div class='jumbotron topcolor'>
	<div class='row'>
		<div class='col-md-10 col-md-offset-1'>
			<div class="row" style="margin-top:0px;margin-bottom:20px;">
				<div class="col-md-10 col-md-offset-1 visible-lg text-center">
					<h1 class='sheen' style='position:relative;font-size:70px;margin-top:90px;margin-bottom:0px;'><b><span></span>Character Stats</b></h1>
				</div>
			</div>
			<div class="row">
				<table class = "table table-bordered" style="width: 50%; vertical-align: middle; background-color: rgba(0,0,0,0.6); position:relative;">
					<tr>
						<td><b>Stat One</b></td>
						<td><b>100%</b></td>
					</tr>
					<tr>
						<td><b>Stat Two</b></td>
						<td><b>100%</b></td>
					</tr>
					<tr>
						<td><b>Stat Three</b></td>
						<td><b>100%</b></td>
					</tr>
					<tr>
						<td><b>Stat Four</b></td>
						<td><b>100%</b></td>
					</tr>
					<tr>
						<td><b>Stat Five</b></td>
						<td><b>100%</b></td>
					</tr>
				</table>
				<img class="textwrap" src="http://puu.sh/otjpx/7940542d4f.png" width="350px" style="position:relative;">
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block addscripts %}
{% endblock addscripts %}