<body>
<div id="loading">
    <span style="margin-left:40%"><h3>Loading...</h3></span>
</div>
<div class="javascriptvalidationcontainer">
    <div class="footerwrapper">
    <nav class="navbar-default" role="navigation" style="border-top-width: 5px;">
        <div class="container" style="padding-top:5px">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
    </nav>
<div class='jumbotron topcolor'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <div class="row" style="margin-top:0px;margin-bottom:20px;">
                <div class="col-md-10 col-md-offset-1 visible-lg text-center">
                    <h1 class='sheen' style='position:relative;font-size:70px;margin-top:90px;margin-bottom:0px;'><b><span></span>Character Stats</b></h1>
                </div>
            </div>
            <div class="row">
                <table class = "table table-bordered" style="width: 50%; vertical-align: middle; background-color: rgba(0,0,0,0.6); position:relative;">
                    <tr>
                        <td><b>Stat One</b></td>
                        <td><b>100%</b></td>
                    </tr>
                    <tr>
                        <td><b>Stat Two</b></td>
                        <td><b>100%</b></td>
                    </tr>
                    <tr>
                        <td><b>Stat Three</b></td>
                        <td><b>100%</b></td>
                    </tr>
                    <tr>
                        <td><b>Stat Four</b></td>
                        <td><b>100%</b></td>
                    </tr>
                    <tr>
                        <td><b>Stat Five</b></td>
                        <td><b>100%</b></td>
                    </tr>
                </table>
                <img class="textwrap" src="http://puu.sh/otjpx/7940542d4f.png" width="350px" style="position:relative;">
            </div>
        </div>
    </div>
</div>